/**DESKTOP VIEW OF SINGLE POST**/

@media screen and (min-width:800px){

  /**POST HEADER**/
  .singlePostContainer{
    width:500px;
    margin:3em auto;
    padding:1em 3em;
    border-radius:10px;
    background-color:#F2F2F2;
  }
    .postHeader{
      display:flex;
      margin:auto;
      margin-top:3em;
      justify-content:space-between;
      align-items:center;

    }

     .postHeader div{
       display:flex;
       align-items:center;
       justify-content:space-between;
       width:140px;
       margin:0;
     }

       /*Author name*/
     .postHeader div p{
        margin: 0;
        font-weight:500;
        color:black;
     }

    .postHeader img{
      width:40px;
      height:40px;
      object-fit: cover;
      border-radius: 20px;
      margin:0;
    }

    /*Post date*/
    .postHeader p{
      color:grey;
    }

    /*POST CONTENT AND IMAGE*/
    .postContent{
      margin-top:1.5em;
    }

    .postContent h1{
      font-size:2.5em;
      font-weight:500;
      color:#584A4A;
    }

    .postContent img{
      width:100%;
      height:200px;
      object-fit:cover;
    }

    .postContent p{
      line-height:1.8;
      margin-top:1.5em;
    }

    /**TAGS and READ MORE BTN**/
    .postTags{
      display:flex;
      align-items:center;
      justify-content: space-between;
    }

    .postTags div{
      display:flex;
      justify-content: left;
      gap:5%;
    }

    .tagsContainer{

      display: flex;
      align-items: center;
      border-radius:10px;
      width:50%;
      padding:20px 30px 10px 10px;
    }

    .tagsContainer h5{
      font-size:0.9em;
      text-transform: uppercase;
      font-weight:500;
    }

    .tagsContainer div p{
       background-color:#B6B0B9;
      padding:0.6em 1em;
      color:white;
      cursor:pointer;
      border-radius:10px;

    }

    .postTags .tag p{
      background-color:#9673BB;
      padding:0.6em 1em;
      color:white;
      cursor:pointer;
      border-radius:10px;
    }

    .postTags .tag p:hover{
       background-color:#D3C4E3;
       color:black;
    }

    .postTags button{
      cursor:pointer;
      background-color:#9673BB;
      padding:1em 1em;
      color:white;
      border-radius:5px;

    }

    .postTags button:hover{
      background-color:#D3C4E3;
      color:black;
    }

    /*IF NO POSTS*/

    .EmptyPostsContainer{
    border-radius: 50px;
    background-color: #F3F3F3;
    color: #B3B1B4;
    width:90%;
    margin:15em auto 40vh;
    padding:10em 0;

    }

   .EmptyPostsContainer{

   text-align:center;
   }
}


/**MOBILE VIEW OF SINGLE POST**/
@media screen and (max-width:799px){

  /**POST HEADER**/
  .singlePostContainer{
    width:80%;
    margin:1em auto 2em;
    padding:10px 30px;
    border-radius:10px;
    background-color:white;
  }

    .postHeader{
      display:flex;
      margin:auto;
      margin-top:3em;
      justify-content:space-between;
      align-items:center;

    }
     .postHeader div{
       display:flex;
       align-items:center;
       justify-content:space-between;
       width:120px;
       margin:0;
     }

       /*Author name*/
     .postHeader div p{
        margin: 0;
        font-weight:500;
        color:black;
     }

    .postHeader img{
      width:40px;
      height:40px;
      object-fit: cover;
      border-radius: 20px;
      margin:0;
    }

    /*Post date*/
    .postHeader p{
      color:grey;
    }

    /*POST CONTENT AND IMAGE*/
    .postContent{
      margin-top:1.5em;
    }

    .postContent h1{
      font-size:2.5em;
      font-weight:500;
      color:#584A4A;
    }

    .postContent img{
      width:100%;
      height:200px;
      object-fit:cover;
    }

    .postContent p{
      line-height:1.8;
      margin-top:1.5em;
    }

    /**TAGS and READ MORE BTN**/
    .postTags{
      display:block;
    }

    .postTags div{
      display: flex;
      align-items:center;
      justify-content: right;
      gap:3%;
    }

    .postTags div p{
      background-color:#9673BB;
      padding:0.6em 1em;
      color:white;
      cursor:pointer;
      border-radius:10px;
    }

    .postTags div p:hover{
       background-color:#D3C4E3;
       color:black;
    }

    .postTags button{
      cursor:pointer;
      background-color:#403E6D;
      padding:1em 2em;
      color:white;
      display:block;
      margin: 2em auto;
      border-radius:5px;

    }

    .postTags button:hover{
      background-color:#D3C4E3;
      color:black;
    }


    /*IF NO POSTS*/

    .EmptyPostsContainer{
    border-radius: 50px;
    background-color: #F3F3F3;
    color: #B3B1B4;
    width:90%;
    }

   .EmptyPostsContainer{

   text-align:center;
   }
}
