 <article class="singlePostContainer" *ngFor="let post of posts">
    <section class="postHeader">
      <div>
        <img src="https://cdn.pixabay.com/photo/2016/03/28/12/35/cat-1285634_1280.png">
        <p>Vlada Daniel</p>
      </div>
      <p>Posted on {{ post.createdDate | date:'shortDate'  }}</p>
    </section>
    <section class="postContent">
      <h1>{{ post.postTitle }}</h1>
      <img src="https://cdn.pixabay.com/photo/2017/07/24/19/57/tiger-2535888_1280.jpg">
      <p>
        {{ post.content }}
      </p>
    </section>
    <section class="postTags" >
      <div class="tagsContainer">
        <h5>Tags:</h5>

        <div *ngIf="post.tags != null" class="tag">
          <p *ngFor="let tag of separateTags(post.tags)"  (click) = "ChangePosts($event, tag)">{{ tag }}</p>
        </div>

        <div *ngIf="post.tags == null">
          <p>No tags</p>
        </div>

      </div>

      <button>Read More</button>
    </section>

  </article>

