 <app-header></app-header>

   <main class="homeCointainer">
    <aside class="sidePosts">
      <h2>POPULAR POSTS</h2>
      <app-side></app-side>
    </aside>

    <section class="postFeed">
      <form class="tagInputContainer" (submit) = "postsComponent.ChangePosts($event, tag.value)">
        <h2>TAGS</h2>
        <input type="search" placeholder="Type tag name.." #tag>
        <input type="submit" value="Filter" >
      </form>
      <app-posts #postsComponentRef></app-posts>
    </section>
  </main>

<router-outlet></router-outlet>

