

/**DESKTOP**/

@media screen and (min-width:800px){
    header{

      position: sticky; top: 0;
      background-color:#323232;
      color:white;
      padding:1em 0;
      display:flex;
      align-items: center;
      justify-content: space-around;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      font-family:Inter
    }


    /*HEADER.LOGO SECTION*/
    .logoSection{
      width:220px;
      display:flex;
      align-items: center;
      justify-content: space-between;
    }

    .logoSection .logo{
      width:40px;
      height:40px;
      background-color: white;
      padding: 10px;
      border-radius: 10px;
    }

    .logoSection h3{

      font-size:1.9em;
      margin:0;
      font-weight:500;
    }

    /*HEADER.LOGIN & SEARCH SECTION*/

    .searchSection{
      display: flex;
      justify-content:space-between;
      align-items:center;
      width:500px;
    }

    .searchSection form input[type="search"]{
      height:30px;
      width:230px;
      border-radius:5px;
      padding: 5px 10px;
      margin-right:10px;

    }

    .searchSection form input[type="submit"]{
      padding:8px 25px;
      color:white;
      font-weight:bold;
      background-color: #9673BB;
      cursor:pointer;
      border-radius: 5px;
    }

    .searchSection form input[type="submit"]:hover{
       background-color:#D3C4E3;
       color:black;
    }

    /*LOGIN*/
    .tabletMenuSection{
        display:none
    }
    .loginContainer{
      display:flex;
      align-items:center;
    }

    .loginIcon{
      background-color: #9673BB;
      padding: 5px 10px 5px 5px;
      border-radius: 10px;
      color:white;
      font-size:1.6em;
      cursor:pointer;
      margin-right:0.4em;
    }

    .loginIcon:hover{
      background-color:#D3C4E3;
      color:black;
    }

    .loginContainer h5{

      text-align:center;
      font-size:1.2em;
      cursor:pointer;
      margin:0;
    }

}

/**TABLET AND SMARTPHONE*/

@media screen and (max-width:799px){
header{
      width:100wv;
      margin:0;
      position: sticky; top: 0;
      background-color:#323232;
      color:white;
      padding:1em 0;
      display:flex;
      align-items: center;
      justify-content: space-around;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      font-family:Inter
    }


    /*HEADER.LOGO SECTION*/
    .logoSection{
      width:50%;
      display:flex;
      align-items: center;
      gap:8%;

    }

    .logoSection .logo{
      width:40px;
      height:40px;
      background-color: white;
      padding: 10px;
      border-radius: 10px;
    }

    .logoSection h3{

      font-size:1.7em;
      font-weight:500;
      margin:0

    }

    /*HEADER.PHONE.LOGIN */

    .searchSection{
     display:none;
    }

    .tabletMenuSection{
       display: inline-block;
    }

    .tabletMenuSection h3{
    font-size:1.8em;
    margin:0;
    cursor:pointer;
    }


}
