
  .tagsIcons{
    display:flex;
    width:90%;
    margin:auto;
    gap:5%;
  }

  .tagsIcons p{
    margin: 1em 0;
    border-radius: 10px;
    background-color: #9673BB;
    color:white;
    padding: 5px 15px;
  }

  .tagsIcons p:hover{
      background-color: #D3C4E3;
      color:#403E6D;
  }
