 <section class="singleSidePost">

    <section class="postContent">
        <h1>Big Kitty</h1>
        <img src="https://cdn.pixabay.com/photo/2017/07/24/19/57/tiger-2535888_1280.jpg">
        <p>
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </p>
    </section>
    <section class="postTags">
        <p>Tech</p>
        <p>People</p>
    </section>
 </section>


